.questions {
  button {
    border: 0px;
    background: transparent;
    margin: 0px;
    padding-right: 0px;
  }
  & i {
    transition: 0.5s;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    & li {
      padding: 15px 15px;
      font-size: 9px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: start;
      border-left: 4px solid black;
      position: relative;
      height: 15px;

      &:first-child {
        border-left: 4px solid rgba($color: orange, $alpha: 0.7);
        background: rgba($color: orange, $alpha: 0.2);
      }
      &:nth-child(2) {
        border-left: 4px solid rgba($color: blue, $alpha: 0.7);
        background: rgba($color: blue, $alpha: 0.2);
      }
      &:nth-child(3) {
        border-left: 4px solid rgba($color: rgb(15, 15, 141), $alpha: 0.7);
        background: rgba($color: rgb(15, 15, 141), $alpha: 0.2);
      }
      &:nth-child(4) {
        border-left: 4px solid rgba($color: purple, $alpha: 0.7);
        background: rgba($color: purple, $alpha: 0.2);
      }

      &:last-child {
        border-left: 4px solid rgba($color: green, $alpha: 0.7);
        background: rgba($color: green, $alpha: 0.2);
      }
      & .question {
        width: 430px;
        & p {
          font-size: 14px;
          margin: 15px 0px;
        }
      }
      & h1 {
        max-width: 420px;
        margin: 0px;
        margin-right: 7px;
        opacity: 1;
      }
    }
  }
}
.hidden {
  overflow: hidden;
}
