@use "../../../utils/mixins.scss" as m;

.questions {
  button {
    border: 0px;
    background: transparent;
    margin: 0px;
    padding-right: 0px;
  }
  & button {
    transition: 0.5s;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    & li {
      padding: 15px;
      font-size: 9px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: start;
      border-left: 4px solid black;
      position: relative;
      height: 20px;
      transition: 0.2s;
      &:first-child {
        @include m.listStyle(orange);
      }
      &:nth-child(2) {
        @include m.listStyle(blue);
      }
      &:nth-child(3) {
        @include m.listStyle(rgb(15, 15, 141));
      }
      &:nth-child(4) {
        @include m.listStyle(purple);
      }

      &:last-child {
        @include m.listStyle(green);
      }
      & .question {
        width: 430px;
        & p {
          font-size: 14px;
          margin: 15px 0px;
        }
      }
      & h1 {
        max-width: 420px;
        margin: 0px;
        margin-right: 7px;
        opacity: 1;
      }
    }
  }
}
.hidden {
  display: none;
}
